.footer {
    display: flex;
    justify-content: center;
    background-color: #C22F2F;
    padding: 25px 0 25px 0;
}

.fa-envelope, .fa-linkedin, .fa-github, .fa-facebook-f {
    color: #FFF;
    font-size: 24px;
    
}

.fa-envelope, .fa-facebook-f, .fa-linkedin {
    padding-right: 30px;
}

@media screen and (min-width: 768px) {
    .fa-envelope, .fa-linkedin, .fa-github, .fa-facebook-f {
        font-size: 32px;
    }

}

@media screen and (min-width: 992px) {
    .menu-hamburger {
        display: none;
    }

    .menu-list {
        display: block;
    }
} 